<h1>Create a New Auction</h1>

<%#= form_for(@auction, :url => '/auctions') do |f| %>
<%= form_for(@auction) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <% seller_options = User.all.collect{|u| [u.name, u.id]}%>
    <%= f.select(:seller_id, seller_options) %>
  </p>



  <p>
    <%= f.submit %>
  </p>
<% end %>